.main-screen__title {
	font-size: 180px;
	color: #fff;
	max-width: 500px;
	text-align: center;
	color: #3f3ff1;
}

.main-screen__button {
	position: fixed;
	bottom: 40px;
	padding-left: 40px;
	padding-right: 40px;
	box-shadow: inset 4px 3px #d6d6d5;
}
