.menu-category {
	width: 250px;
	font-size: 30px;
	box-shadow: inset 0px 2px 0 1px rgba(245, 245, 239, 0.1);
	display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-category-container {
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
}

.menu-category img {
	width: 80px;
	height: 60px;
}
