.basket-pose{
	position: absolute;
	display: flex;
	bottom: 20px;
	left: 85px;
	height: 130px;
	align-items: center;
	justify-content: center;
	background: rgba(185, 184, 182, 0.7);
	left: 195px;
	border-radius: 15px;
	width: 250px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

	color: #3f3ff1;
	font-size: 30px;
	flex-direction: column;
}