.categories__category {
	position: relative;
	height: 500px;
	width: 250px;
	overflow: hidden;
	border-radius: 20px;
	transition: box-shadow 1s linear;
}
.categories__category:  active {
	box-shadow: 12px 12px 2px 1px rgba(122, 122, 122, .2);
}
.categories__category img {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
}

.category__button {
	border-radius: 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
}