.component__button {
	background: rgba(185, 184, 182, 0.7);
	color: #3f3ff1;
	font-size: 40px;
	border-radius: 20px;
	border: none;
	line-height: 80px;
}

.component__button:hover {
	color: #4f4ff1;
}