.App {
  font-family: sans-serif, Arial;
  width: 100vw;
  height: 100vh;
}

.App__background {
  width: 100vw;
  height: 100vh;
  background: url('http://localhost:3000/main-screen.jpg') no-repeat 0 0;
  background-size: 100%;
  filter: blur(10px);
  position: absolute;
}
/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.content_page{
	height: 0.75vh;
}
*/

.content_page{
	height: 100vh;
}
.text-custom-blue{
	color: #3F3FF1;
}
.h-12{
	height: 12vh!important;
}
.h-65{
	height: 65vh!important;
}
.w-20{
	width: 20vw!important;
}

.text-size-100{
	font-size: 100px !important;
	padding-left: 0 !important;
}
.text-size-20{
	font-size: 20px !important;
	padding-left: 0 !important;
}
.transparent-color{
	background-color: rgba(255,255,255,0.4);
}
.bg-blur{
  backdrop-filter: blur(10px) !important;
}
.custom-left-round{
	    border-top-left-radius: .99rem!important;
    border-bottom-left-radius: .99rem!important;
}
.custom-right-round{
	    border-top-right-radius: .99rem!important;
    border-bottom-right-radius: .99rem!important;
}
body{
  background-image: url("https://static.thatsup.co/content/img/place/r/e/restaurang-meet-3.jpg");  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-ccircle.btn-md { 
	width: 50px; 
	height: 50px; 
	padding: 7px 10px!important; 
	border-radius: 25px!important; 
	font-size: 10px!important; 
	text-align: center!important; 
} 